* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fffafa;
}

.wave-bg {
    width: 100%;
    height: auto;
}
  
.wave-bg img {
    width: 100%;
    height: auto;
}

#footer {
    width: 100%;
    height: auto;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 200px;
    color: #fffafa;
  }
  
  #footer-content hr {
    width: 100%;
    margin: auto;
    color: var(--orange);
  }
  
  #footer-content > h1 {
    font-size: 40px;
  }
  
  #footer-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  
  #footer-lists {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    flex-direction: row-reverse;
  }
  
  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    direction: rtl;
    width: 50%;
  }
  
  .footer-description {
    gap: 30px;
    
  }
  
  .footer-list p {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
  }
  
  .footer-list p i {
    border: none;
    color: crimson;
    font-size: 20px;
  }
  
  .footer-list a {
    text-decoration: none;
    color: #fffafa;
    background-color: transparent;
  }
  
  .footer-list h3 {
    font-size: 25px;
  }
  
  .footer-list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    margin-right: 20px;
  }
  
  .footer-list ul a {
    transition: color 0.2s;
  }
  
  .footer-list ul a:hover {
    color: var(--orange);
  }
  
  #social-btns-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .social-btns {
    outline: none;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: #fffafa;
    background-color: var(--orange);
    font-size: 20px;
    padding-top: 2px;
    cursor: pointer;
  }
  
  #footer-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    direction: rtl;
    font-size: 10px;
    padding: 0 35px;
  }
  
  #footer-copyright span {
    color: #dc8501;
  }