* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.loader {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    position: relative;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #dc8501;
    animation: l4 2.5s infinite;
}

.loader:after {
    animation-delay: -1.25s;
}

@keyframes l4 {
    0% {
      inset: 0 70px 70px 0;
    }
    12.5% {
      inset: 0 70px 0 0;
    }
    25% {
      inset: 70px 70px 0 0;
    }
    37.5% {
      inset: 70px 0 0 0;
    }
    50% {
      inset: 70px 0 0 70px;
    }
    62.5% {
      inset: 0 0 0 70px;
    }
    75% {
      inset: 0 0 70px 70px;
    }
    87.5% {
      inset: 0 0 70px 0;
    }
    100% {
      inset: 0 70px 70px 0;
    }
}

.hidden {
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
}

.remove {
    display: none;
}

@keyframes fadeOut {
    100% {
      opacity: 0;
      display: none;
    }
}