* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color);
}

/* header */

@font-face {
    font-family: iransans;
    src: url(../fonts/IranSansXPro/Webfonts/fonts/woff/IRANSansX-Regular.woff);
}

* {
    font-family: iransans;
}

#header {
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: height 0.3s, background-color 0.3s;
}

#navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 150px;
}

#header-logo {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    direction: rtl;
    color: transparent;
    transition: width 0.3s;
}

#header-logo img {
    width: 100%;
    height: auto;
}

#header-logo-name {
  display: none;
  transition: opacity 0.3s;
}

#nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 20px;
    padding-right: 100px;
}

.nav-btn {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 7px 10px;
    font-family: 'Vazirmatn', sans-serif;
    font-size: 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: font-size 0.3s;
}

.nav-btn a {
  width: 100%;
  height: 100%;
}

.underline {
    width: 100%;
    height: 1px;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}

.nav-btn .underline {
  border: 1px solid #dc8501;
}

.display-none {
    display: none;
}

.nav-btn:hover .underline {
    animation: showUnderline 0.6s ease-in-out;
}

.show-underline {
  animation: showUnderline 0.6s ease-in-out;
}

@keyframes showUnderline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.exit-underline {
    animation: exitUnderline 0.4s ease-in-out;
}

@keyframes exitUnderline {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

#navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 10px;
}

.panel-btn {
  outline: none;
  background-color: #dc8501;
  border: 1px solid #dc8501;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.2s, width 0.3s, height 0.3s, font-size 0.3s;
}

.bg-blue {
  background-color: #106ea5; 
  border-color: #106ea5;
}

.panel-btn a {
  color: #fffafa;
  transition: color 0.2s;
}

.panel-btn:hover a{
  color: #333;
} 

.panel-btn:hover {
  background-color: #fffafa;
}


/* header style onscroll */
.moved {
    height: 10vh !important;
    background-color: var(--theme) !important;
}

#header.moved .nav-btn {
    font-size: 1rem;
}

#header.moved #header-logo {
  width: 7%;
}

.products-dropdown {
  position: absolute;
  cursor: auto;
  top: 100%;
  display: none;
  opacity: 0;
  height: 28vh;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: width 0.3s, height 0.3s;
  display: none;
}

#header.moved .products-dropdown {
  width: 10vw;
  height: 27vh;
}

.show-products{
  opacity: 1;
  display: flex;
}

.hide-products {
  opacity: 0;
  display: none;
  animation: fadeOut 0.2s;
}

.list-container {
  width: 100%;
  height: 100%;
  background-color: #fffafa;
  border: 1px solid #dc8501;
  border-radius: 10px; 
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0 10px 0 20px;
  display: none;
}

.products-list {
  list-style-type: none;
  width: 100%;
  color: #333;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  direction: rtl;
  font-size: 1rem;
}

.products-list a {
  color: #333;
  letter-spacing: 0.5s;
  transition: color 0.2s;
}

.products-list li {
  margin: 5px;
  padding: 5px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.products-list li:hover a{
  color: #fffafa;
}

.products-list li:hover {
  background-color: #dc8501;
}

.products-list li .underline {
  bottom: -5px;
  border: 1px solid #dc8501;
}

.dropdown-box {
  width: 100%;
  height: 0;
  background-color: #fffafa;
  border: 1px solid transparent;
  border-radius: 10px;
  z-index: 10;
  position: absolute;
  top: 0;
  margin-top: 5px;
}

.dropdown {
  animation: dropDown 1s linear;
}

.display-inline {
  display: inline;
}

.display-flex {
  display: flex;
}

@keyframes dropDown {
  0% {
    height: 0;
    top: 0;
    background-color: #dc8501;
  }
  50% {
    height: 100%;
    top: 0;
  }
  100% {
    height: 0;
    top: 99%;
    background-color: #fffafa;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}

#header.moved > #navbar > #navbar-buttons > .panel-btn {
  width: 100px;
  height: 35px;
  font-size: 0.69rem;
}

#menu-container {
  display: none;
}

#menu-btn {
  outline: none;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.2s, font-size 0.3s;
}

#menu-btn:hover {
  color: #dc8501;
}

#header.moved #menu-btn {
  font-size: 1.5rem;
}

.menu-list {
  position: absolute;
  background-color: #fffafa;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  top: 0;
  left: -98vw;
}

.menu-list ul {
  list-style-type: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  direction: rtl;
  gap: 30px;
  width: 100%;
  justify-content: center;
  font-size: 1.5rem;
}

.menu-list a {
  color: #333;
}

.menu-list li {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.menu-list .underline {
  border: 1px solid #dc8501;
  bottom: -5px;
}

.menu-list #navbar-buttons a {
  color: #fffafa;
  padding: 5px;
  transition: color 0.2s;
}

.menu-list #navbar-buttons {
  flex-direction: column;
}

.menu-list .panel-btn:hover a{
  color: #333 !important;
}

.menu-list li:hover {
  background-color: #dc8501;
}

.show-menu {
  left: 0;
  animation: swipe-right 0.5s ease-in-out;
}

.hide-menu {
  left: -98vw;
  animation: swipe-left 0.5s ease-in-out;
}

@keyframes swipe-right {
  from {
    left: -98vw;
  }
  to {
    left: 0;
  }
}

@keyframes swipe-left {
  from {
    left: 0;
  }
  to {
    left: -98vw;
  }
}

#exit-btn {
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: crimson;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #navbar {
    padding: 10px 20px;
  }

  #nav-list {
    display: none;
  }

  #navbar > #navbar-buttons {
    display: none;
  }

  #header-logo {
    width: 30%;
  }

  #header.moved #header-logo {
    width: 22%;
  }

  #menu-container {
    display: inline;
  }
}