html, body {
    width: 100%;
    height: auto;
    background-color: var(--theme);
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--theme);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iransans;
}

:root {
    --theme: #fffafa;
    --color: #333;
    --orange: #dc8501;
    --blue: #106ea5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--blue);
}

::-webkit-scrollbar-track {
    background-color: var(--theme);
}

@font-face {
  font-family: iransans;
  src: url(../fonts/woff/IRANSansX-Regular.woff);
}

@font-face {
    font-family: iransans-black;
    src: url(../fonts/woff/IRANSansX-Black.woff);
}

a {
    text-decoration: none;
    color: #fffafa;
}

#container {
    width: 100%;
    height: 100%;
    background-color: var(--theme);
    color: var(--color);
    overflow: hidden;
    filter: blur(5px);
}

.wave-bg {
    width: 100%;
    height: auto;
}

.wave-bg img {
    width: 100%;
    height: auto;
}

.underline {
    width: 100%;
    height: 1px;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}

.show-underline {
    animation: showUnderline 0.6s ease-in-out;
}
  
@keyframes showUnderline {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}
  
.exit-underline {
    animation: exitUnderline 0.6s ease-in-out;
}
  
@keyframes exitUnderline {
    from {
        width: 90%;
    }
  
    to {
        width: 0;
    }
}

#page-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18vh;
}

#title {
    font-size: 3rem;
    position: relative;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title .underline {
    border: 2px solid var(--orange);
}

#contact-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 50px 150px;
    direction: rtl;
    position: relative;
}

#contact > .underline {
    display: none;
    border: 2px solid #dc8501;
    width: 90%;
    top: 48%;
}

#contact-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

#contact-form h1 {
    font-size: 2rem;
}

.inputs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.input {
    width: 100%;
    height: 47px;
    outline: none;
    border: 0.5px solid #dc8501;
    border-radius: 10px;
    padding: 10px;
    background-color: #fffafa;
}

.info::placeholder {
    opacity: 0.5;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 5px;
}

label i {
    color: tomato;
    font-size: 0.63rem;
}

.dropdown {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
}

.btn {
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    direction: rtl;
    background-color: #fffafa;
    border: 1px solid #dc8501;
    border-radius: 10px;
    color: #333;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: #dc8501;
    border-color: #dc8501;
    color: #fffafa;
}

.btn:hover {
    background-color: #dc8501;
    border-color: #dc8501;
    color: #fffafa;
}

.dropdown-menu {
    border: 1px solid #dc8501;
    text-align: right;
    width: 100%;
    padding: 5px;
    margin-top: 83px;
    border-radius: 10px;
}

.dropdown-menu li {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item {
    border-radius: 4px;
    padding: 4px 7px;
    color: #333;
    transition: color 0.2s, background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #dc8501;
    color: #fffafa;
}

.checkBoxes {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    display: none;
}

.form-check-input:checked {
    background-color: #106ea5;
    border-color: #106ea5;
}

.form-check-input:focus {
    border-color: #106ea5;
    box-shadow: 0 0 0 0.25rem #106ea579;
}

.form-check-input, .form-check-label {
    cursor: pointer;
}

.display-flex {
    display: flex;
}

#msg {
    width: 100%;
    outline: none;
    border: 1px solid #dc8501;
    border-radius: 10px;
    padding: 10px;
    background-color: #fffafa;
}

#submit-btn {
    width: 30%;
    height: 40px;
    outline: none;
    border: 1px solid #dc8501;
    border-radius: 10px;
    background-color: #dc8501;
    color: #fffafa;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s;
}

#submit-btn:hover {
    box-shadow: 0 0 0 0.2rem #dc8501a3;
}

#contact-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    direction: rtl;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.contact-section h1 {
    font-size: 2rem;
}

#contact-info hr {
    width: 100%;
    opacity: 0.75;
    background-color: #dc8501;
    color: #dc8501;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contact-section i {
    font-size: 1.5rem;
}

.bi-geo-alt-fill {
    color: red;
}

.bi-telephone-fill {
    color: rgb(87, 167, 87);
}

.info p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.info p i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffafa;
    cursor: pointer;
    background-color: #dc8501;
    transition: box-shadow 0.2s;
}

.info p i:hover {
    box-shadow: 0 0 0 0.2rem #dc8501a3;
}

#address, .phone-number {
    padding-top: 15px;
}

#address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.centerline {
    height: 70%;
    background-color: var(--orange);
    position: absolute;
    left: 50%;
    border: 2px solid #dc8501;
    border-radius: 20px;
}

.show-centerline {
    animation: showCenterline 0.6s ease-in-out;
}
  
@keyframes showCenterline {
    from {
        height: 0;
    }
    to {
        height: 45%;
    }
}
  
.exit-centerline {
    animation: exitCenterline 0.6s ease-in-out;
}
  
@keyframes exitCenterline {
    from {
        height: 45%;
    }
  
    to {
        height: 0;
    }
}

.padding-top {
    padding-top: 10px;
}

.noti-msg {
    font-size: 0.75rem;
    text-align: start;
    width: 77%;
    display: none;
}

.error {
    display: inline;
    color: tomato;
}

.success {
    display: inline;
    color: #106ea5;
}

@media only screen and (max-width: 480px) {
    #contact {
        flex-direction: column;
        margin: 50px;
        align-items: center;
        gap: 65px;
    }

    #contact-info, #contact-form {
        width: 100%;
    }

    .centerline {
        display: none;
    }

    #contact .underline {
        display: inline;
    }

    .info > i {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #contact {
        flex-direction: column;
        margin: 50px;
        align-items: center;
        gap: 65px;
    }

    #contact-info, #contact-form {
        width: 100%;
    }

    .centerline {
        display: none;
    }

    #contact .underline {
        display: inline;
    }

    .info > i {
       font-size: 2rem;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    #contact {
        flex-direction: column;
        margin: 50px;
        align-items: center;
        gap: 65px;
    }

    #contact-info, #contact-form {
        width: 100%;
    }

    .centerline {
        display: none;
    }

    #contact .underline {
        display: inline;
    }

    .info > i {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1279px) {
    #contact {
        margin: 50px;
    }

    .centerline {
        height: 100%;
    }

    .info > i {
        font-size: 2rem;
    }
}