html, body {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--white);
    background-color: var(--white);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iransans;
}

:root {
    --white: #f5f5f5;
    --black: #333;
    --orange: #dc8501;
    --blue: #106ea5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--blue);
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

@font-face {
  font-family: iransans;
  src: url(../fonts/woff/IRANSansX-Regular.woff);
  font-display: swap;
}

@font-face {
    font-family: iransans-black;
    src: url(../fonts/woff/IRANSansX-Black.woff);
    font-display: swap;
}

#container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    color: var(--black);
    filter: blur(5px);
}

#content-container {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--black);
}

.wave-bg {
    width: 100%;
    height: auto;
}

.wave-bg img {
    width: 100%;
    height: auto;
}

.outline {
    display: none;
}

.underline {
    width: 100%;
    border: 2px solid var(--orange);
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}

.show-underline {
    animation: showUnderline 0.6s ease-in-out;
}
  
@keyframes showUnderline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
  
.exit-underline {
    animation: exitUnderline 0.6s ease-in-out;
}
  
@keyframes exitUnderline {
    from {
        width: 100%;
    }
  
    to {
        width: 0;
    }
}

.rightline {
    height: 0;
    width: 1px;
    background-color: var(--orange);
    position: absolute;
    right: 0;
}

.show-rightline {
    animation: showRightline 0.6s ease-in-out;
}
  
.exit-rightline {
    animation: exitRightline 0.6s ease-in-out;
}

@keyframes showRightline {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}
  
@keyframes exitRightline {
    from {
        height: 100%;
    }
  
    to {
        height: 0;
    }
}

#main-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bg-container {
    width: 100%;
    height: 100%;
}

.bg-container img {
    width: 100%;
    height: 100%;
}

#main-section .bg-container {
    width: 100%;
    position: absolute;
    left: 0;
}

#main-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-right: 250px;
    gap: 20px;
    direction: rtl;
    color: var(--white);
    position: absolute;
}

.maintext-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0;
}

#main-text {
    font-size: 4.5rem;
    margin-right: 20px;
}

#model{
    background-color: var(--orange);
    padding: 10px 15px 0 15px;
    border-radius: 10px;
}

#main-content .rightline {
    top: 0;
    border: 2px solid var(--orange);
    border-radius: 20px;
    height: 100%;
}

#main-descript {
    height: 7%;
    position: relative;
    direction: rtl;
    font-size: 1.5rem;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
      
#main-descript ~ .rightline {
    border: 2px solid var(--blue);
}

.opacity-1 {
    opacity: 1;
}

.slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
}
@keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
}
  
.features-section {
    width: 100%;
    height: auto;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    direction: rtl;
    position: relative;
    z-index: 3;
}

.features-section .bg-container{
    position: absolute; 
    width: 100%; 
    height: 100%;
}

.features-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: 15%;
}

.features-title {
    font-size: 2.5rem;
    z-index: 3;
}

.features {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    row-gap: 30px;
    width: 100%;
    flex-wrap: wrap;
}

.feature {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.feature img {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 var(--black);
}

.feature p {
    font-size: 1.1rem;
}

#info-section {
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-section .bg-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

#info-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 15%;
}

.info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.info-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    color: var(--white);
}

.info-details p {
    text-align: justify;
    line-height: 30px;
    position: relative;
    height: auto;
    padding-right: 10px;
}

.info-details h1 {
    font-size: 2.5rem;
    position: relative;
    padding: 5px 10px;
    background-color: var(--orange);
    border-radius: 10px;
}

.info-details .rightline {
    top: 0;
    border: 2px solid var(--blue);
    border-radius: 20px;
    height: 100%;
}

#techno-section {
    width: 100%;
    height: auto;
    background-color: var(--white);
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 0 0;
}

#techno-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.techno-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.techno {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
    position: relative;
    padding: 20px;
    height: 200px;
}

.techno-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.techno-details h3 {
    font-size: 1.7rem;
}

.techno-details p {
    font-size: 0.9rem;
}

#techno1, #techno4 {
    background-color: var(--orange); 
    width: 680px;
    flex-direction: row-reverse;
    justify-content: space-around;
    color: var(--white);
}

#techno2 {
    background-color: var(--blue); 
    width: 450px;
    flex-direction: row-reverse;
    color: var(--white);
}

#techno3 {
    background-color: var(--orange); 
    width: 450px;
    flex-direction: row-reverse;
    color: var(--white);
}

#techno4 {
    background-color: transparent;
}

#techno4 .techno-details {
    position: absolute;
    color: var(--white);
    left: 5%;
    align-items: flex-end;
    text-align: left;
}

#techno4 img {
    border-radius: 20px;
}

@media only screen and (max-width: 480px) {
    #main-content {
        padding-right: 20px;
        color: var(--black);
    }

    #main-text {
        font-size: 2rem;
    }

    #main-descript {
        font-size: 0.9rem;
    }

    .wave {
        display: none;
    }

    .outline {
        display: block;
    }

    .features-container {
        width: 100%;
        margin: 0 !important;
        background-color: var(--orange);
        padding: 0 10px;
        color: var(--white);
    }

    .features-title {
        font-size: 1.5rem;
        text-align: center;
    }

    .features-section {
        padding: 0 !important;
    }

    #info-section {
        margin: 0 !important;
    }

    .bg-container {
        display: none;
    }

    #info-list {
        padding: 20px;
    }

    .info {
        flex-direction: column !important;
        gap: 20px;
    }

    .info-img-container {
        width: 80%;
    }

    .info-details {
        width: 80%;
        color: var(--black);
    }

    .info-details h1 {
        font-size: 1.5rem;
    }

    .info-details p {
        font-size: 0.9rem;
    }

    #techno-section {
        padding: 20px 0 0 0;
    }

    .techno-row {
        flex-direction: column;
    }

    .techno {
        height: 150px;
    }

    #techno1 {
        width: 80%;
        gap: 0;
    }

    #techno1 img {
        width: 50%;
    }

    .techno-details h3 {
        font-size: 1rem;
    }

    .techno-details p {
        font-size: 0.8rem;
    }

    #techno2, #techno3, #techno4 {
        width: 80%;
    }

    #techno2 img {
        width: 30%;
        height: 80%;
    }

    #techno3 {
        gap: 10px;
    }

    #techno3 .techno-details {
        width: 50%;
    }

    #techno3 img {
        width: 50%;
    }

    #techno4 {
        padding: 0;
    }

    #techno4 img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    #main-content {
        padding-right: 20px;
        color: var(--black);
    }

    #main-text {
        font-size: 2rem;
    }

    #main-descript {
        font-size: 0.9rem;
    }

    .wave {
        display: none;
    }

    .outline {
        display: block;
    }

    .features-container {
        width: 100%;
        margin: 0 !important;
        color: var(--white);
        background-color: var(--orange);
        padding: 0 10px;
    }

    .features-section {
        padding: 0 !important;
    }

    #info-section {
        margin: 0 !important;
    }

    .features-title {
        font-size: 1.5rem;
        text-align: center;
    }

    .bg-container {
        display: none;
    }

    #info-list {
        padding: 20px;
    }

    .info {
        flex-direction: column !important;
        gap: 20px;
    }

    .info-img-container {
        width: 80%;
    }

    .info-details {
        width: 80%;
        color: var(--black);
    }

    .info-details h1 {
        font-size: 1.5rem;
    }

    .info-details p {
        font-size: 0.9rem;
    }

    #techno-section {
        padding: 20px 0 0 0;
    }

    .techno-row {
        flex-direction: column;
    }

    .techno {
        height: 150px;
        justify-content: space-around;
    }

    #techno1 {
        width: 80%;
    }

    #techno1 img {
        width: 50%;
    }

    .techno-details h3 {
        font-size: 1rem;
    }

    .techno-details p {
        font-size: 0.8rem;
    }

    #techno2, #techno3, #techno4 {
        width: 80%;
    }

    #techno2 img {
        width: 20%;
        height: 80%;
    }

    #techno3 .techno-details {
        width: 50%;
    }

    #techno3 img {
        width: 30%;
    }

    #techno4 {
        padding: 0;
    }

    #techno4 img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #main-content {
        padding-right: 20px;
        color: var(--black);
    }

    #main-text {
        font-size: 3rem;
    }

    #main-descript {
        font-size: 1rem;
    }
    
    .wave {
        display: none;
    }

    .outline {
        display: block;
    }

    .features-container {
        width: 100%;
        margin: 0 !important;
        color: var(--white);
        background-color: var(--orange);
        padding: 0 10px;
    }

    .features-section {
        padding: 0 !important;
    }

    #info-section {
        margin: 0 !important;
    }

    .features-title {
        font-size: 2rem;
        text-align: center;
    }

    .bg-container {
        display: none;
    }

    #info-list {
        padding: 20px;
    }

    .info-details {
        color: var(--black);
    }

    .info-details h1 {
        font-size: 2rem;
    }

    .info-details p {
        font-size: 0.9rem;
    }

    #techno-section {
        padding: 20px 0 0 0;
    }

    #techno-list {
        padding: 20px;
    }

    .techno-details h3 {
        font-size: 1.5rem;
    }

    .techno-details p {
        font-size: 0.8rem;
    }

    #techno1, #techno4 {
        width: 500px;
    }

    #techno2, #techno3 {
        width: 350px;
    }

    #techno2 img {
        height: 80%;
    }

    #techno4 {
        padding: 0;
    }

    #techno4 img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1279px) {
    #main-content {
        padding-right: 130px;
        color: var(--black);
    }

    #main-text {
        font-size: 3rem;
    }

    #main-descript {
        font-size: 1rem;
    }

    .wave {
        display: none;
    }

    .outline {
        display: block;
    }

    .features-container {
        width: 100%;
        margin: 0px !important;
        color: var(--white);
        background-color: var(--orange);
        padding: 0 10px;
    }

    .features-section {
        padding: 0 !important;
        align-items: center;
    }

    #info-section {
        margin: 0 !important;
    }

    .bg-container {
        display: none;
    }

    .features-title {
        font-size: 2rem;
    }

    #info-list {
        padding: 20px 15%;
    }

    .info-details {
        color: var(--black);
    }

    .info-details h1 {
        font-size: 2rem;
    }

    .info-details p {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
    #main-content {
        padding-right: 100px;
    }

    .features-container {
        width: 33%;
        margin: 0 10%;
    }

    #featureImg1 {
        width: 30% !important;
        height: 112% !important;
    }

    #info-section {
        margin-top: -12vh !important;
    }
}

@media screen and (min-width: 1601px) and (max-width: 1720px) {
    #featureImg1 {
        width: 28% !important;
        height: 117% !important;
    }
}