html, body {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--white);
    background-color: var(--white);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iransans;
}

:root {
    --white: #f5f5f5;
    --black: #333;
    --orange: #dc8501;
    --blue: #106ea5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--blue);
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

@font-face {
  font-family: iransans;
  src: url(../fonts/woff/IRANSansX-Regular.woff);
  font-display: swap;
}

@font-face {
    font-family: iransans-black;
    src: url(../fonts/woff/IRANSansX-Black.woff);
    font-display: swap;
}

#container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    color: var(--black);
    filter: blur(5px);
}

a {
    text-decoration: none;
    color: var(--black);
}

.wave-bg {
    width: 100%;
    height: auto;
}

.wave-bg img {
    width: 100%;
    height: auto;
}

.underline {
    width: 100%;
    border: 2px solid var(--orange);
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}

.show-underline {
    animation: showUnderline 0.6s ease-in-out;
}
  
@keyframes showUnderline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
  
.exit-underline {
    animation: exitUnderline 0.6s ease-in-out;
}
  
@keyframes exitUnderline {
    from {
        width: 100%;
    }
  
    to {
        width: 0;
    }
}

.rightline {
    height: 0;
    width: 1px;
    background-color: var(--orange);
    position: absolute;
    right: 0;
}

.show-rightline {
    animation: showRightline 0.6s ease-in-out;
}
  
.exit-rightline {
    animation: exitRightline 0.6s ease-in-out;
}

@keyframes showRightline {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}
  
@keyframes exitRightline {
    from {
        height: 100%;
    }
  
    to {
        height: 0;
    }
}

#main-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bg-container {
    width: 100%;
    height: 100%;
}

.bg-container img {
    width: 100%;
    height: 100%;
}

#main-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-right: 250px;
    gap: 20px;
    direction: rtl;
    position: absolute;
}

.maintext-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0;
}

#main-text {
    font-size: 4.5rem;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-content .rightline {
    top: 0;
    border: 2px solid var(--orange);
    border-radius: 20px;
    height: 100%;
}

#main-descript {
    height: 7%;
    position: relative;
    direction: rtl;
    font-size: 1.5rem;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
      
#main-descript ~ .rightline {
    border: 2px solid var(--blue);
}

.opacity-1 {
    opacity: 1;
}

.slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
}
@keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
}
  
.features-section {
    width: 100%;
    height: auto;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    direction: rtl;
    margin-top: -8px;
}

.features-section .bg-container{
    width: 30%;
    height: 100%;
}

.features-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--white);
}

.features-title {
    font-size: 3rem;
}

.features {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    row-gap: 30px;
    width: 100%;
    flex-wrap: wrap;
}

.feature {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.feature img {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 var(--black);
}

.feature p {
    font-size: 1.1rem;
}

#info-section {
    width: 100%;
    height: auto;
    background-color: var(--white);
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 200px;
}

.info {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-img-container {
    width: 30%;
    height: 100%;
}

.info-img-container img {
    width: 100%;
    height: 100%;
}

.info-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.info-details p {
    text-align: justify;
    line-height: 30px;
}

.info-details h1 {
    font-size: 2.5rem;
    position: relative;
    padding-bottom: 5px;
}

#techno-section {
    width: 100%;
    height: auto;
    background-color: var(--white);
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
}

#techno-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.techno-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.techno {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
    position: relative;
    padding: 20px;
    height: 200px;
}

.techno-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.techno-details h3 {
    font-size: 2.5rem;
}

.techno-details p {
    font-size: 1.2rem;
}

#techno1, #techno4 {
    background-color: var(--orange); 
    width: 680px;
    flex-direction: row-reverse;
    justify-content: space-around;
    color: var(--white);
}

#techno2 {
    background-color: var(--blue); 
    width: 450px;
    flex-direction: row-reverse;
    justify-content: space-around;
    color: var(--white);
}

#techno3 {
    background-color: var(--orange); 
    width: 450px;
    flex-direction: row-reverse;
    justify-content: space-around;
    color: var(--white);
}

#techno4 {
    background-color: transparent;
}

#techno4 .techno-details {
    position: absolute;
    color: var(--white);
    left: 10%;
}

#techno4 img {
    border-radius: 20px;
}