html, body {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--theme);
    background-color: var(--theme);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iransans;
}

:root {
    --theme: #fffafa;
    --color: #333;
    --orange: #dc8501;
    --blue: #106ea5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--blue);
}

::-webkit-scrollbar-track {
    background-color: var(--theme);
}

@font-face {
  font-family: iransans;
  src: url(../fonts/woff/IRANSansX-Regular.woff);
}

@font-face {
    font-family: iransans-black;
    src: url(../fonts/woff/IRANSansX-Black.woff);
}

#container {
    width: 100%;
    height: 100%;
    background-color: var(--theme);
    color: var(--color);
    filter: blur(5px);
}

a {
    text-decoration: none;
    color: var(--color);
}

#page-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18vh;
}

#page-title h1 {
    font-size: 50px;
    position: relative;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.underline {
    width: 100%;
    height: 1px;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}

#page-title h1 .underline {
    border: 2px solid #dc8501;
}

.show-underline {
    animation: showUnderline 0.6s ease-in-out;
}
  
@keyframes showUnderline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
  
.exit-underline {
    animation: exitUnderline 0.6s ease-in-out;
}
  
@keyframes exitUnderline {
    from {
        width: 100%;
    }
  
    to {
        width: 0;
    }
}

.wave-bg {
    width: 100%;
    height: auto;
}

.wave-bg img {
    width: 100%;
    height: auto;
}

#products {
    width: 100%;
    height: auto;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
    color: #fffafa;
    background: rgb(16,110,165);
    background: linear-gradient(180deg, rgba(16,110,165,1) 0%, rgba(40,147,209,1) 50%, rgba(16,110,165,1) 100%);
}

#products-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    direction: rtl;
}

.product {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-container {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    letter-spacing: 0.5px;
    width: 60%;
    position: relative;
} 

.product-title {
    position: relative;
    font-size: 35px;
    padding-bottom: 8px;
}

.product-title .underline {
    border: 2px solid var(--orange);
}

.product-description {
    text-align: justify;
    font-size: 15px;
    line-height: 27px;
}

.product-description span {
    font-family: iransans-black;
}

.request-btn {
    width: 130px;
    height: 40px;
    background-color: var(--orange);
    outline: none;
    border: 1px solid var(--orange);
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.2s;
}

.request-btn a {
    color: #fffafa;
}

.arrow-btn {
    outline: none;
    border: 1px solid #dc8501;
    background-color: #dc8501;
    color: #fffafa;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    z-index: 1;
    font-size: 20px;
    padding: 5px 7px 0px 7px;
    border-radius: 50% 0% 0% 50%;
    position: absolute;
    right: 10%;
    bottom: 0px;
    z-index: 1;
    transition: all 0.2s;
}

.request-btn:hover {
    border-radius: 0px 20px 20px 0px;
}

.request-btn:hover ~ .arrow-btn {
    animation: swipeLeft 0.2s linear;
    right: 13.8%;
}

@keyframes swipeLeft {
    from {
      right: 10%;
    }
    to {
      right: 13.8%;
    }
}

#request-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    transition: height 0.2s;
}

#request-form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: 1px solid #dc8501;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0px 5px 0 #dc8501;
    margin: 10x;
    z-index: 2;
    transition: all 0.2s;
}

#form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-logo {
    width: 100px;
    height: 100px;
}

#request-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.input {
    outline: none;
    border: 1px solid #dc8501;
    border-radius: 10px;
    padding: 10px;
}

#request-btn {
    width: 77%;
    height: 40px;
    outline: none;
    border: 1px solid #dc8501;
    border-radius: 10px;
    background-color: #dc8501;
    color: #fffafa;
    cursor: pointer;
    font-size: 18px;
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(220,133,1,1) 100%);
    transition: all 0.2s;
}

#request-btn:hover {
    /* color: #333; */
    background-color: #fffafa;
}

#request-form small {
    font-size: 12px;
    text-align: start;
    width: 77%;
    color: tomato;
}

.form-floating {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    direction: rtl;
}

.form-control {
    font-size: 0.8rem;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    min-height: 47px;
    height: 47px;
    padding-bottom: 1rem;
}

.form-floating>label {
    right: 0;
    padding: 0.7rem 0.7rem;
    border: none;
}

.form-floating>.form-control-plaintext:focus, .form-floating>.form-control-plaintext:not(:placeholder-shown), 
.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 2rem;
    padding-bottom: 0.9rem;
}

.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, 
.form-floating>.form-control:not(:placeholder-shown)~label, 
.form-floating>.form-select~label {
    transform: scale(.85) translateY(-.3rem) translateX(2.1rem);
    font-size: 13px;
}

.form-control:focus {
    border-color: #106ea5;
}

.form-floating>.form-control-plaintext~label::after, 
.form-floating>.form-control:focus~label::after, 
.form-floating>.form-control:not(:placeholder-shown) ~ label::after, .form-floating>.form-select~label::after {
    background-color: transparent;
}

.dropdown {
    width: 100%;
}

.btn {
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    direction: rtl;
    background-color: #fffafa;
    border: 1px solid #dc8501;
    border-radius: 10px;
    color: #333;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: #dc8501;
    border-color: #dc8501;
    color: #fffafa;
}

.btn:hover {
    background-color: #dc8501;
    border-color: #dc8501;
    color: #fffafa;
}

.dropdown-menu {
    border: 1px solid #dc8501;
    text-align: right;
    width: 100%;
    padding: 5px;
}

.dropdown-menu li {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item {
    border-radius: 4px;
    padding: 4px 7px;
    color: #333;
    transition: color 0.2s, background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #dc8501;
    color: #fffafa;
}