html, body {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--white);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iransans;
}

:root {
    --white: #f5f5f5;
    --black: #333;
    --orange: #dc8501;
    --blue: #106ea5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--blue);
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

@font-face {
  font-family: iransans;
  src: url(../fonts/woff/IRANSansX-Regular.woff);
  font-display: swap;
}

#container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    color: var(--black);
    overflow: hidden;
    filter: blur(5px);
}

a {
    text-decoration: none;
    color: var(--black);
}

#page-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18vh;
}

#title {
    font-size: 3rem;
    position: relative;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.underline {
    width: 100%;
    height: 1px;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}

#title .underline {
    border: 2px solid var(--orange);
}

.show-underline {
    animation: showUnderline 0.6s ease-in-out;
}
  
@keyframes showUnderline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
  
.exit-underline {
    animation: exitUnderline 0.6s ease-in-out;
}
  
@keyframes exitUnderline {
    from {
        width: 100%;
    }
  
    to {
        width: 0;
    }
}

#products-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
}

#products-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 35px;
}

.product {
    width: 23%;
    /* background-color: #d3d3d3; */
    background-color: #dbdbdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    direction: rtl;
    border: 1px solid transparent;
    border-radius: 10px;
}

.img-container {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.img {
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.product-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.product-title {
    font-size: 1.8rem;
}

.feature-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    row-gap: 5px;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    direction: rtl;
}

.check-icon {
    color: var(--orange);
}

.product-description {
    text-align: justify;
    font-size: 0.9rem;
}

.product-btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    direction: rtl;
    position: relative;
}

.details-btn, .form-btn {
    width: 100px;
    height: 30px;
    outline: none;
    background-color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 20px;
    color: var(--white);
    font-size: 0.9rem;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.details-btn a, .form-btn a {
    color: var(--white);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-btn {
    background-color: var(--blue);
    border: 1px solid var(--blue);
}

.details-btn:hover {
    box-shadow: 0 0 0 0.2rem #dc8501a3;
}

.form-btn:hover {
    box-shadow: 0 0 0 0.2rem #106ea579;
}

@media screen and (max-width: 480px) {
    #products-container {
        padding: 50px 20px;
    }

    #products-list {
        flex-direction: column;
    }

    .product {
        width: 100%;
    }

    .img {
        width: 85%;
    }

    #title {
        font-size: 2rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    #products-container {
        padding: 50px 20px;
    }

    #products-list {
        flex-direction: column;
    }

    .product {
        width: 70%;
    }

    .img {
        width: 85%;
    }

    .feature-list {
        padding: 0 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #products-container {
        padding: 50px 20px;
    }

    #products-list {
        flex-direction: column;
    }

    .product {
        width: 50%;
    }

    .img {
        width: 85%;
    }

    .feature-list {
        padding: 0 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    #products-container {
        padding: 50px 100px;
    }

    #products-list {
        justify-content: center;
    }

    .product {
        width: 40%;
    }

    .img {
        width: 85%;
    }

    .feature-list {
        padding: 0 10px;
        gap: 40px;
        row-gap: 5px;
    }

}

@media screen and (min-width: 1280px) and (max-width: 1600px) {
    #products-container {
        padding: 50px 100px;
    }

    .product {
        width: 31%;
    }

    .img {
        width: 85%;
    }

    .feature-list {
        padding: 0 10px;
    }
}