html, body {
    width: 100%;
    height: auto;
    font-family: 'Vazirmatn', sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--white);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iransans;
}

:root {
    --white: #f5f5f5;
    --black: #333;
    --orange: #dc8501;
    --blue: #106ea5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--blue);
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

@font-face {
  font-family: iransans;
  src: url(../fonts/woff/IRANSansX-Regular.woff);
  font-display: swap;
}

@font-face {
    font-family: iransans-black;
    src: url(../fonts/woff/IRANSansX-Black.woff);
    font-display: swap;
}

#container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    color: var(--black);
    overflow: hidden;
    filter: blur(5px);
}

a {
    text-decoration: none;
    color: var(--black);
}

.underline {
    width: 100%;
    height: 1px;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}

.show-underline {
    animation: showUnderline 0.6s ease-in-out;
}
  
@keyframes showUnderline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
  
.exit-underline {
    animation: exitUnderline 0.6s ease-in-out;
}
  
@keyframes exitUnderline {
    from {
        width: 100%;
    }
  
    to {
        width: 0;
    }
}

.wave-bg {
    width: 100%;
    height: auto;
}

.wave-bg img {
    width: 100%;
    height: auto;
}

#banner-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#banner {
    width: 100%;
    height: 100%;
    margin: auto;
}

#banner-container img {
    width: 70%;
    height: 100%;
}

#page-title {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    direction: rtl;
    position: absolute;
    right: 20%;
}

#page-title h1 {
    font-size: 5rem;
    position: relative;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-title h1 .underline {
    border: 2px solid var(--orange);
}

#page-description {
    text-align: justify;
    font-size: 1.4rem;
    width: 68%;
    border-radius: 20px 50px;
    padding: 20px;
    line-height: 34px;
    letter-spacing: 0.6px;
}

#page-description span {
    font-family: iransans-black;
}

#services {
    width: 100%;
    height: auto;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 150px;
    color: var(--white);
    z-index: 2;
    position: relative;
    background: rgb(16,110,165);
    background: linear-gradient(180deg, rgba(16,110,165,1) 0%, rgba(40,147,209,1) 50%, rgba(16,110,165,1) 100%);
}

#service-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0px 150px;
    direction: rtl;
}

.service {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.img-container {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
}

.img-container video, .img-container img {
    width: 100%;
    height: 100%;
}

.service-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    letter-spacing: 0.5px;
    width: 60%;
    position: relative;
} 

.service-title {
    position: relative;
    font-size: 2rem;
    padding-bottom: 8px;
}

.service-title .underline {
    border: 2px solid var(--orange);
}

.service-description {
    text-align: justify;
    font-size: 1rem;
    line-height: 27px;
}

.service-description i {
    color: var(--orange);
    font-size: 1rem;
}

.request-btn {
    width: 130px;
    height: 40px;
    background-color: var(--orange);
    outline: none;
    border: 1px solid var(--orange);
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 2;
    color: var(--white);
    transition: all 0.2s;
}

.request-btn a {
    color: var(--white);
}

.arrow-btn {
    outline: none;
    border: 1px solid var(--orange);
    background-color: var(--orange);
    color: var(--white);
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    z-index: 1;
    font-size: 1.5rem;
    padding: 5px 7px 0px 7px;
    border-radius: 50% 0% 0% 50%;
    position: absolute;
    right: 10%;
    bottom: 0px;
    z-index: 1;
    transition: all 0.2s;
}

.request-btn:hover {
    border-radius: 0px 20px 20px 0px;
}

.request-btn:hover ~ .arrow-btn {
    animation: swipeLeft 0.2s linear;
    right: 17.3%;
}

@keyframes swipeLeft {
    from {
      right: 10%;
    }
    to {
      right: 17.3%;
    }
}

@media only screen and (max-width: 480px) {

    #page-title h1 {
        font-size: 3rem;
    }

    #banner {
        display: none;
    }

    #page-title {
        width: 100%;
        align-items: center;
        gap: 0px;
        position: relative;
        right: 0;
    }    

    #page-description {
        line-height: 27px;
        letter-spacing: 0.5px;
        font-size: 0.8rem;
        width: 90%;
    }

    #services {
        padding: 20px;
    }

    #service-list {
        padding: 0;
    }

    .service {
        flex-direction: column !important;
        gap: 10px;
    }

    .img-container {
        width: 70% !important;
    }

    .service-title {
        font-size: 1.8rem;
    }

    .service-description {
        font-size: 0.8rem;
    }

    .arrow-btn {
        right: 90px;
    }

    .request-btn:hover ~ .arrow-btn {
        right: 132px;
    }

    @keyframes swipeLeft {
        from {
          right: 90px;
        }
        to {
          right: 132px;
        }
    }

    #service-list {
        gap: 20px;
    }

    .service-details {
        width: 80%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    #page-title h1 {
        font-size: 3rem;
    }

    #banner {
        display: none;
    }

    #page-title {
        width: 100%;
        align-items: center;
        gap: 0px;
        position: relative;
        right: 0;
    }    

    #page-description {
        line-height: 27px;
        letter-spacing: 0.5px;
        font-size: 0.8rem;
        width: 90%;
    }

    #services {
        padding: 20px;
    }

    #service-list {
        padding: 0;
    }

    .service {
        flex-direction: column !important;
        gap: 10px;
    }

    .img-container {
        width: 70% !important;
    }

    .service-title {
        font-size: 1.8rem;
    }

    .service-description {
        font-size: 0.8rem;
    }

    .arrow-btn {
        right: 90px;
    }

    .request-btn:hover ~ .arrow-btn {
        right: 132px;
    }

    @keyframes swipeLeft {
        from {
          right: 90px;
        }
        to {
          right: 132px;
        }
    }

    .service-details {
        width: 80%;
    }

    #service-list {
        gap: 20px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {

    #page-title h1 {
        font-size: 3rem;
    }

    #banner img {
        width: 100%;
    }

    #page-title {
        gap: 0px;
        right: 10%;
    }    
    
    #page-description {
        font-size: 0.8rem;
        width: 70%;
        line-height: 27px;
        letter-spacing: 0.5px;
        padding: 0;
    }

    #services {
        padding: 20px;
    }

    #service-list {
        padding: 0;
    }

    .service {
        flex-direction: column !important;
        gap: 10px;
    }

    .img-container {
        width: 50% !important;
    }

    .service-title {
        font-size: 1.8rem;
    }

    .service-description {
        font-size: 0.8rem;
    }

    .arrow-btn {
        right: 90px;
    }

    .request-btn:hover ~ .arrow-btn {
        right: 132px;
    }

    @keyframes swipeLeft {
        from {
          right: 90px;
        }
        to {
          right: 132px;
        }
    }

    .service-details {
        width: 80%;
    }

    #service-list {
        gap: 20px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1279px) {
    #page-title h1 {
        font-size: 4rem;
    }

    #banner img {
        width: 80%;
    }

    #page-title {
        gap: 0px;
        right: 10%;
    }    
    
    #page-description {
        font-size: 0.8rem;
        width: 70%;
        line-height: 27px;
        letter-spacing: 0.5px;
        padding: 0;
    }

    #services {
        padding: 20px 100px;
    }

    #service-list {
        padding: 0;
    }

    .img-container {
        width: 50% !important;
    }

    .arrow-btn {
        right: 90px;
    }

    .request-btn:hover ~ .arrow-btn {
        right: 132px;
    }

    @keyframes swipeLeft {
        from {
          right: 90px;
        }
        to {
          right: 132px;
        }
    }

    #service-list {
        gap: 50px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1600px) {
    #page-title h1 {
        font-size: 4rem;
    }

    #banner img {
        width: 70%;
    }

    #page-title {
        right: 10%;
    }    
    
    #page-description {
        font-size: 0.8rem;
        width: 70%;
        line-height: 27px;
        letter-spacing: 0.5px;
        padding: 0;
    }

    #service-list {
        padding: 40px 0;
    }
}