html, body {
    width: 100%;
    height: auto;
    font-family: 'Vazirmatn', sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--theme);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iransans;
}

:root {
    --theme: #fffafa;
    --color: #333;
    --orange: #dc8501;
    --blue: #106ea5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--blue);
}

::-webkit-scrollbar-track {
    background-color: var(--theme);
}

@font-face {
  font-family: iransans;
  src: url(../fonts/woff/IRANSansX-Regular.woff);
}

#container {
    width: 100%;
    height: 100%;
    background-color: var(--theme);
    color: var(--color);
    overflow: hidden;
    filter: blur(5px);
}

a {
    text-decoration: none;
    color: var(--color);
}

.underline {
    width: 100%;
    height: 1px;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}

.display-none {
    display: none;
}

.display-inline {
  display: inline;
}

.display-flex {
  display: flex;
}

/* main section */
#main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#intro-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.5;
  object-fit: cover;
}

#main-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-right: 250px;
  gap: 20px;
}

#display-text, #body-text {
  width: 41%;
  height: 30%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#display-text .rightline {
  top: 0;
  border: 2px solid var(--orange);
  border-radius: 20px;
  height: 100%;
}

.text-box {
  width: 0;
  height: 100%;
  background-color: #dc8501;
  z-index: 10;
  position: absolute;
  right: 0;
  border-radius: 5px;
}

.swipe-in-out-right {
  animation: swipe-in-out-right 1.5s ease-in-out;
  animation-delay: 0.65s;
}

@keyframes swipe-in-out-right {
  0% {
    width: 0;
    right: 0;
  }

  50% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0%;
    right: 100%;
  }
}

#main-text {
  direction: rtl;
  font-size: 4.5rem;
  opacity: 0;
  padding-right: 20px;
}

#body-text {
  height: 10%;
  position: relative;
}

#body-text p {
  direction: rtl;
  font-size: 1.5rem;
  opacity: 0;
  padding-right: 20px;
}

#body-text .text-box {
  background-color: var(--blue);
}

#body-text .rightline {
  top: 0;
  border: 2px solid var(--blue);
  border-radius: 20px;
  height: 100%;
}

#down-anime-btn {
  position: absolute;
  bottom: 10px;
  outline: none;
  background-color: transparent;
  padding: 15px 16px 15px 16px;
  border: 1px solid var(--blue);
  border-radius: 100%;
  font-family: 'Vazirmatn', sans-serif;
  font-size: 1.5rem;
}

#about {
  width: 100%;
  height: auto;
  background-color: #106ea5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#about-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 50px;
}

.section-title {
  font-size: 2rem;
  color: #fffafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  direction: rtl;
}

.section-title p {
  font-size: 1rem;
  text-align: center;
}

.section-title b {
  font-size: 1rem;
}

#about-content .section-title p {
  width: 80%;
  font-size: 0.85rem;
  letter-spacing: 0.7px;
}

.section-title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title .underline {
  height: 3px;
}

.topline {
  width: 0;
  height: 1px;
  background-color: var(--orange);
  position: absolute;
  top: 0;
}

.rightline {
  height: 0;
  width: 1px;
  background-color: var(--orange);
  position: absolute;
  right: 0;
}

.leftline {
  height: 0;
  width: 1px;
  background-color: var(--orange);
  position: absolute;
  left: 0;
}

.show-underline {
  animation: showUnderline 0.6s ease-in-out;
}

@keyframes showUnderline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.exit-underline {
    animation: exitUnderline 0.6s ease-in-out;
}

@keyframes exitUnderline {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.show-topline {
  animation: showTopline 0.6s ease-in-out;
}

.show-leftline {
  animation: showLeftline 0.6s ease-in-out;
}

.show-rightline {
  animation: showRightline 0.6s ease-in-out;
}

.exit-topline {
    animation: exitTopline 0.6s ease-in-out;
}

.exit-rightline {
  animation: exitRightline 0.6s ease-in-out;
}

.exit-leftline {
  animation: exitLeftline 0.6s ease-in-out;
}

@keyframes showTopline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes exitTopline {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@keyframes showRightline {
  from {
      height: 0;
  }
  to {
      height: 100%;
  }
}

@keyframes exitRightline {
  from {
      height: 100%;
  }

  to {
      height: 0;
  }
}


@keyframes showLeftline {
  from {
      height: 0;
  }
  to {
      height: 100%;
  }
}

@keyframes exitLeftline {
  from {
      height: 100%;
  }

  to {
      height: 0;
  }
}

.width-100 {
  width: 100%;
}

.height-100{
  height: 100%;
}

#about-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 50px;
  height: 80%;
  padding: 20px 150px;
  position: relative;
}

.about-info {
  direction: rtl;
  color: #fffafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  width: 300px;
  height: auto;
}

.about-title {
  font-size: 1.8rem;
  text-align: center;
}

.about-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
}

.about-btn, .about-arrow-btn {
  outline: none;
  border: 1px solid #dc8501;
  border-radius: 20px;
  background-color: #dc8501;
  color: #fffafa;
  padding: 0 13px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 2;
  transition: all 0.2s, transition 0.2s;
}

.about-btn a {
  color: #fffafa
}

.about-arrow-btn {
  font-size: 1.5rem;
  padding: 5px 7px 0px 7px;
  border-radius: 50% 0% 0% 50%;
  position: absolute;
  right: 50%;
  z-index: 1;
}

.about-btn:hover {
  border-radius: 0px 20px 20px 0px;
}

.about-btn:hover ~ .about-arrow-btn {
  animation: swipeLeft 0.2s linear;
  right: 66%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.info img {
  width: 90%;
  height: auto;
}

@keyframes swipeLeft {
  from {
    right: 50%;
  }
  to {
    right: 66%;
  }
}

.about-info .leftline, .about-info .rightline {
  background-color: transparent;
  border: 2px solid var(--orange);
  border-radius: 20px;
}

.about-info .topline, .about-info .underline {
  background-color: transparent;
  border: 2px solid var(--orange);
  border-radius: 20px;
}

#banks-section {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banks-swiper {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.bank-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bank-slide > img {
  width: 100%;
  height: auto;
}

#service {
  width: 100%;
  height: auto;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#service-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  padding: 50px;
}

#service-content .section-title p {
  font-size: 1rem;
  text-align: center;
  width: 80%;
  letter-spacing: 0.7px;
}

#service-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.service-info {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fffafa;
  direction: rtl;
}

.service-title {
  font-size: 2.5rem;
  position: relative;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-title .rightline, .service-title .leftline {
  border: 2px solid var(--orange);
  border-radius: 5px;
  top: 0;
}

.service-info p {
  width: 50%;
  text-align: justify;
}

.row-reverse {
  flex-direction: row-reverse;
}

#companies {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#companies-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
}

#companies-content .section-title h1 {
  color: #333;
  font-size: 2.5rem;
}

#companies-body {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.companies-row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 55%;
  gap: 40px;
}

.company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  height: 50%;
}

.company a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

.company:hover img {
  transform: scale(1.1);
}

.wave-bg {
  width: 100%;
  height: auto;
}

.wave-bg img {
  width: 100%;
  height: auto;
}

#news-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 150px 150px;
}

#news-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
}

#news-content .section-title h1 {
  color: #333;
  font-size: 2.5rem;
}

#news-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.news {
  width: 20%;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  direction: rtl;
  opacity: 1;
  padding: 10px;
  position: relative;
  transition: opacity 0.2s;
}

.news a {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.5s;
}

.news img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.news p {
  position: absolute;
  top: 50%;
  opacity: 0;
  z-index: 1;
  font-size: 0.8rem;
}

.news a:hover {
  transform: scale(1.1);
}

.news a:hover ~ p {
  opacity: 1;
  top: 100%;
  animation: swipeDown 0.5s linear;
}

@keyframes swipeDown {
  from {
    top: 50%;
    opacity: 0;
  }

  to {
    top: 100%;
    opacity: 1;
  }
}

#news-btn {
  width: 150px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: #dc8501;
  font-size: 1.2rem;
  z-index: 2;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

#news-btn a {
  color: #fffafa;
}

#news-content .about-arrow-btn{
  bottom: 0;
  right: 50%;
  height: 40px;
}

#news-btn:hover {
  border-radius: 0px 20px 20px 0px;
}

#news-btn:hover ~ .about-arrow-btn {
  animation: swipeLeft2 0.2s linear;
  right: 54%;
}

@keyframes swipeLeft2 {
  from {
    right: 50%;
  }
  to {
    right: 54%;
  }
}

.hide-news ~ p {
  top: 50%;
  opacity: 0;
  animation: swipeUp 0.5s linear;
}

@keyframes swipeUp {
  from {
    top: 100%;
    opacity: 1;
  }

  to {
    top: 50%;
    opacity: 0;
  }
}

@media only screen and (max-width: 480px) {
  #main-content {
      padding-right: 20px;
      margin: 0;
  }

  #display-text {
      width: 90%;
      height: 17%;
  }

  #display-text h1 {
    padding-right: 15px;
  }

  #body-text {
    width: 90%;
  }

  #body-text p {
    font-size: 0.9rem;
    padding-right: 15px;
  }

  #main-text {
      width: 100%;
      font-size: 2rem;
  }

  #down-anime-btn {
    font-size: 1rem;
  }

  #about-content {
      padding: 20px;
  }

  .section-title {
    font-size: 1rem;
  }

  .section-title b {
    font-size: 0.8rem;
  }

  #about-content .section-title p {
    font-size: 0.7rem;
    width: 100%;
  }

  #about-body {
    padding: 0;
    flex-wrap: wrap;
  }

  .about-info {
      padding: 0;
      width: 41%;
  }

  .about-title {
    font-size: 1.2rem;
  }

  .info img {
    width: 100%;
  }

  .about-info p, .service-info p {
      width: 100%;
  }

  .about-btn {
    padding: 0 10px;
    height: 30px;
  }

  .about-arrow-btn {
    height: 30px;
    font-size: 1rem;
    right: 50%;
  }

  .about-btn:hover {
    border-radius: 20px;
    box-shadow: 0 0 0 0.2rem #dc8501a3;
  }

  .about-btn:hover ~ .about-arrow-btn {
    right: 50%;
  }

  @keyframes swipeLeft {
    from {
      right: 50%;
    }
    to {
      right: 50%;
    }
  }

  #banks-section {
    height: 15vh;
  }

  .bank-slide > img {
    width: 50%;
  }

  #service-content {
    padding: 20px;
    gap: 50px;
  }

  #service-content .section-title p {
    font-size: 0.7rem;
    width: 100%;
  }

  #service-body {
    padding: 20px;
    gap: 60px;
  }

  .service-info {
    width: 100%;
    flex-direction: column;
    gap: 25px;
  }

  .service-title {
    font-size: 1.5rem;
    padding: 0 15px;
  }

  .service-info p {
    font-size: 0.85rem;
  }

  #companies-content .section-title h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .companies-row {
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    width: 100%;
  }

  #company{
    height: 100px !important;
    width: 90px !important; 
  }

  #companies-content {
      gap: 20px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  #main-content {
      padding-right: 40px;
      margin: 0;
  }

  #display-text {
      width: 85%;
      height: 22%;
  }

  #display-text h1 {
    padding-right: 15px;
  }

  #body-text {
    width: 85%;
  }

  #body-text p {
    font-size: 1rem;
    padding-right: 15px;
  }

  #main-text {
      width: 100%;
      font-size: 3rem;
  }

  #down-anime-btn {
    font-size: 1rem;
  }

  #about-content {
      padding: 50px 40px;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-title b {
    font-size: 0.8rem;
  }

  #about-content .section-title p {
    font-size: 0.8rem;
    width: 100%;
  }

  #about-body {
    padding: 0;
    flex-wrap: wrap;
  }

  .about-info {
      padding: 0;
      width: 41%;
  }

  .about-title {
    font-size: 1.2rem;
  }

  .info img {
    width: 100%;
  }

  .about-info p, .service-info p {
      width: 100%;
  }

  .about-btn {
    padding: 0 10px;
    height: 30px;
  }

  .about-arrow-btn {
    height: 30px;
    font-size: 1rem;
    right: 50%;
  }

  .about-btn:hover {
    border-radius: 20px;
    box-shadow: 0 0 0 0.2rem #dc8501a3;
  }

  .about-btn:hover ~ .about-arrow-btn {
    right: 50%;
  }

  @keyframes swipeLeft {
    from {
      right: 50%;
    }
    to {
      right: 50%;
    }
  }

  #banks-section {
    height: 15vh;
  }

  #service-content {
    padding: 50px 40px;
    gap: 50px;
  }

  #service-content .section-title p {
    font-size: 0.7rem;
    width: 100%;
  }

  #service-body {
    gap: 60px;
  }

  .service-info {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }

  .align-end {
    align-items: flex-end;
  }

  .service-title {
    font-size: 1.5rem;
    padding: 0 15px;
  }

  .service-info p {
    font-size: 0.85rem;
  }

  #companies-content .section-title h1 {
    font-size: 2rem;
    text-align: center;
  }

  .companies-row {
    flex-wrap: wrap;
    gap: 26px;
    padding: 5px;
    width: 100%;
  }

  #company{
    height: 100px !important;
    width: 90px !important; 
  }

  #companies-content {
    gap: 20px;
    padding: 50px 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #main-content {
      padding-right: 40px;
      margin: 0;
  }

  #display-text {
      width: 55%;
      height: 22%;
  }

  #display-text h1 {
    padding-right: 15px;
  }

  #body-text {
    width: 55%;
  }

  #body-text p {
    font-size: 1rem;
    padding-right: 15px;
  }

  #main-text {
      width: 100%;
      font-size: 3rem;
  }

  #down-anime-btn {
    font-size: 1rem;
  }

  #about-content {
      padding: 50px;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-title b {
    font-size: 0.8rem;
  }

  #about-content .section-title p {
    font-size: 0.8rem;
    width: 100%;
  }

  #about-body {
    padding: 0;
    flex-wrap: wrap;
  }

  .about-info {
      padding: 0;
      width: 41%;
  }

  .about-title {
    font-size: 1.2rem;
  }

  .info img {
    width: 100%;
  }

  .about-info p, .service-info p {
      width: 100%;
  }

  .about-btn {
    padding: 0 10px;
    height: 30px;
  }

  .about-arrow-btn {
    height: 30px;
    font-size: 1rem;
    right: 50%;
  }

  .about-btn:hover {
    border-radius: 20px;
    box-shadow: 0 0 0 0.2rem #dc8501a3;
  }

  .about-btn:hover ~ .about-arrow-btn {
    right: 50%;
  }

  @keyframes swipeLeft {
    from {
      right: 50%;
    }
    to {
      right: 50%;
    }
  }

  #banks-section {
    height: 15vh;
  }

  .banks-swiper {
    width: 100%;
    padding: 30px;
  }

  #service-content {
    padding: 50px;
    gap: 50px;
  }

  #service-content .section-title p {
    font-size: 0.7rem;
    width: 100%;
  }

  #service-body {
    gap: 60px;
  }

  .service-info {
    width: 100%;
    align-items: center;
    gap: 25px;
  }

  .service-title {
    font-size: 2rem;
    padding: 0 15px;
  }

  .service-info p {
    font-size: 0.85rem;
    width: 50%;
  }

  #companies-content .section-title h1 {
    font-size: 2rem;
    text-align: center;
  }

  .companies-row {
    flex-wrap: wrap;
    gap: 26px;
    padding: 5px;
    width: 100%;
  }

  #company{
    height: 100px !important;
    width: 90px !important; 
  }

  #companies-content {
    gap: 20px;
    padding: 50px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1279px) {
  #main-content {
      padding-right: 150px;
      margin: 0;
  }

  #display-text {
      width: 40%;
      height: 22%;
  }

  #display-text h1 {
    padding-right: 15px;
  }

  #body-text {
    width: 40%;
  }

  #body-text p {
    font-size: 1rem;
    padding-right: 15px;
  }

  #main-text {
      width: 100%;
      font-size: 3rem;
  }

  #down-anime-btn {
    font-size: 1rem;
  }

  #about-content {
      padding: 50px;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-title b {
    font-size: 0.8rem;
  }

  #about-content .section-title p {
    font-size: 0.8rem;
    width: 100%;
  }

  #about-body {
    padding: 0;
  }

  .about-info {
      padding: 0;
      width: 41%;
  }

  .about-title {
    font-size: 1.2rem;
  }

  .info img {
    width: 100%;
  }

  .about-info p, .service-info p {
      width: 100%;
  }

  .about-btn {
    padding: 0 10px;
    height: 30px;
  }

  .about-arrow-btn {
    height: 30px;
    font-size: 1rem;
    right: 50%;
  }

  .about-btn:hover {
    border-radius: 20px;
    box-shadow: 0 0 0 0.2rem #dc8501a3;
  }

  .about-btn:hover ~ .about-arrow-btn {
    right: 50%;
  }

  @keyframes swipeLeft {
    from {
      right: 50%;
    }
    to {
      right: 50%;
    }
  }

  #banks-section {
    height: 15vh;
  }

  .banks-swiper {
    width: 100%;
    padding: 30px;
  }

  #service-content {
    padding: 50px;
    gap: 50px;
  }

  #service-content .section-title p {
    font-size: 0.7rem;
    width: 100%;
  }

  #service-body {
    gap: 60px;
  }

  .service-info {
    width: 100%;
    align-items: center;
    gap: 25px;
  }

  .service-title {
    font-size: 2rem;
    padding: 0 15px;
  }

  .service-info p {
    font-size: 0.85rem;
    width: 50%;
  }

  #companies-content .section-title h1 {
    font-size: 2rem;
    text-align: center;
  }

  .companies-row {
    flex-wrap: wrap;
    gap: 26px;
    padding: 5px;
    width: 100%;
  }

  #company{
    height: 100px !important;
    width: 90px !important; 
  }

  #companies-content {
    gap: 20px;
    padding: 50px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) { 
  #display-text, #body-text {
    width: 46%;
  }

  .about-info {
    padding: 15px;
  }

  #about-body {
    padding: 20px 100px;
  }

  .companies-row {
    width: 65%;
  }
}