html, body {
    width: 100%;
    height: auto;
    font-family: 'Vazirmatn', sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--theme);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iransans;
}

:root {
    --theme: #fffafa;
    --color: #333;
    --orange: #dc8501;
    --blue: #106ea5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--blue);
}

::-webkit-scrollbar-track {
    background-color: var(--theme);
}

@font-face {
  font-family: iransans;
  src: url(../fonts/IranSansXPro/Webfonts/fonts/woff/IRANSansX-Regular.woff);
}

#container {
    width: 100%;
    height: 100%;
    background-color: var(--theme);
    color: var(--color);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--color);
}

.underline {
    width: 100%;
    height: 1px;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}

.display-none {
    display: none;
}

.display-inline {
  display: inline;
}

.display-flex {
  display: flex;
}

/* main section */
#main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#intro-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.5;
  object-fit: cover;
}

#main-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-right: 250px;
  gap: 20px;
}

#display-text, #body-text {
  width: 40%;
  height: 30%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#display-text .rightline {
  top: 0;
  border: 2px solid var(--orange);
  border-radius: 20px;
  height: 100%;
}

.text-box {
  width: 0;
  height: 100%;
  background-color: #dc8501;
  z-index: 10;
  position: absolute;
  right: 0;
  border-radius: 5px;
}

.swipe-in-out-right {
  animation: swipe-in-out-right 1.5s ease-in-out;
  animation-delay: 0.65s;
}

@keyframes swipe-in-out-right {
  0% {
    width: 0;
    right: 0;
  }

  50% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0%;
    right: 100%;
  }
}

#main-text {
  direction: rtl;
  font-size: 70px;
  opacity: 0;
  padding-right: 20px;
}

#body-text {
  height: 10%;
  position: relative;
}

#body-text p {
  direction: rtl;
  font-size: 23px;
  opacity: 0;
  padding-right: 20px;
}

#body-text .text-box {
  background-color: var(--blue);
}

#body-text .rightline {
  top: 0;
  border: 2px solid var(--blue);
  border-radius: 20px;
  height: 100%;
}

#down-anime-btn {
  position: absolute;
  bottom: 10px;
  outline: none;
  background-color: transparent;
  padding: 15px 16px 15px 16px;
  border: 1px solid var(--blue);
  border-radius: 100%;
  font-family: 'Vazirmatn', sans-serif;
  font-size: 20px;
}

#about {
  width: 100%;
  height: auto;
  background-color: #106ea5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#about-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 50px;
}

.section-title {
  font-size: 30px;
  color: #fffafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  direction: rtl;
}

.section-title p {
  font-size: 17px;
  text-align: center;
}

#about-content .section-title p {
  width: 80%;
  font-size: 13.7px;
  letter-spacing: 0.7px;
}

.section-title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title .underline {
  height: 3px;
}

.topline {
  width: 0;
  height: 1px;
  background-color: var(--orange);
  position: absolute;
  top: 0;
}

.rightline {
  height: 0;
  width: 1px;
  background-color: var(--orange);
  position: absolute;
  right: 0;
}

.leftline {
  height: 0;
  width: 1px;
  background-color: var(--orange);
  position: absolute;
  left: 0;
}

.show-underline {
  animation: showUnderline 0.6s ease-in-out;
}

@keyframes showUnderline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.exit-underline {
    animation: exitUnderline 0.4s ease-in-out;
}

@keyframes exitUnderline {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.show-topline {
  animation: showTopline 0.6s ease-in-out;
}

.show-leftline {
  animation: showLeftline 0.6s ease-in-out;
}

.show-rightline {
  animation: showRightline 0.6s ease-in-out;
}

.exit-topline {
    animation: exitTopline 0.6s ease-in-out;
}

.exit-rightline {
  animation: exitRightline 0.6s ease-in-out;
}

.exit-leftline {
  animation: exitLeftline 0.6s ease-in-out;
}

@keyframes showTopline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes exitTopline {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@keyframes showRightline {
  from {
      height: 0;
  }
  to {
      height: 100%;
  }
}

@keyframes exitRightline {
  from {
      height: 100%;
  }

  to {
      height: 0;
  }
}


@keyframes showLeftline {
  from {
      height: 0;
  }
  to {
      height: 100%;
  }
}

@keyframes exitLeftline {
  from {
      height: 100%;
  }

  to {
      height: 0;
  }
}

.width-100 {
  width: 100%;
}

.height-100{
  height: 100%;
}

#about-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 50px;
  height: 80%;
  padding: 20px 150px;
  position: relative;
}

.about-info {
  direction: rtl;
  color: #fffafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  width: 300px;
  height: auto;
}

.about-title {
  font-size: 30px;
  text-align: center;
}

.about-info p {
  font-size: 13.7px;
  letter-spacing: 0.7px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.about-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  direction: rtl;
}

.about-btn, .about-arrow-btn {
  outline: none;
  border: 1px solid #dc8501;
  border-radius: 20px;
  background-color: #dc8501;
  color: #fffafa;
  padding: 0 8px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 2;
  transition: background-color 0.2s, transform 0.2s, border 0.2s;
  transition: all 0.2s;
}

.about-btn a {
  color: #fffafa
}

.about-arrow-btn {
  font-size: 20px;
  padding: 5px 7px 0px 7px;
  border-radius: 50% 0% 0% 50%;
  position: absolute;
  right: 62px;
  z-index: 1;
}

.about-btn:hover {
  border-radius: 0px 20px 20px 0px;
}

.about-btn:hover ~ .about-arrow-btn {
  animation: swipeLeft 0.2s linear;
  right: 105.5px;
}

@keyframes swipeLeft {
  from {
    right: 62px;
  }
  to {
    right: 105.5px;
  }
}

.about-info .leftline, .about-info .rightline {
  background-color: transparent;
  border: 2px solid var(--orange);
  border-radius: 20px;
}

.about-info .topline, .about-info .underline {
  background-color: transparent;
  border: 2px solid var(--orange);
  border-radius: 20px;
}

#banks-section {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banks-swiper {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.bank-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bank-slide > img {
  width: 100%;
  height: auto;
}

#service {
  width: 100%;
  height: auto;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#service-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 50px;
}

#service-content .section-title p {
  font-size: 28px;
}

#service-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.service-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fffafa;
  direction: rtl;
}

.service-title {
  font-size: 50px;
  position: relative;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-title .rightline, .service-title .leftline {
  border: 2px solid var(--orange);
  border-radius: 5px;
  top: 0;
}

.service-info p {
  width: 50%;
}

.row-reverse {
  flex-direction: row-reverse;
}

#companies {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#companies-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
}

#companies-content .section-title h1 {
  color: #333;
  font-size: 40px;
}

#companies-body {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.companies-row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
}

.company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  height: 50%;
}

.company a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

.company:hover img {
  transform: scale(1.1);
}

.wave-bg {
  width: 100%;
  height: auto;
}

.wave-bg img {
  width: 100%;
  height: auto;
}

#certifications {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: auto;
  padding: 50px;
  padding-top: 100px;
}

#certifications .section-title h1 {
  color: #333;
  font-size: 40px;
}

#certifications-body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.certification {
  width: 15%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: transform 0.3s;
}

.certification img {
  width: 100%;
  height: auto;
  border: 1px solid transparent;
  border-radius: 10px;
}

.certification:hover {
  transform: scale(1.1) !important;
}
