html, body {
    width: 100%;
    height: auto;
    font-family: 'Vazirmatn', sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--theme);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iransans;
}

:root {
    --theme: #fffafa;
    --color: #333;
    --orange: #dc8501;
    --blue: #106ea5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--blue);
}

::-webkit-scrollbar-track {
    background-color: var(--theme);
}

@font-face {
  font-family: iransans;
  src: url(../fonts/IranSansXPro/Webfonts/fonts/woff/IRANSansX-Regular.woff);
}

#container {
    width: 100%;
    height: 100%;
    background-color: var(--theme);
    color: var(--color);
}

a {
    text-decoration: none;
    color: var(--color);
}

/* header */

#header {
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    top: 0;
    padding: 0 150px;
    z-index: 100;
    transition: height 0.3s, background-color 0.3s;
}

#navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#header-logo {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    direction: rtl;
    transition: width 0.3s;
}

#header-logo > img {
    width: 100%;
    height: auto;
}

#header-logo-name {
  display: none;
  transition: opacity 0.3s;
}

#nav-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 20px;
    padding-left: 135px;
}

.nav-btn {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 7px 10px;
    font-family: 'Vazirmatn', sans-serif;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: font-size 0.3s;
}

.nav-btn a {
  width: 100%;
  height: 100%;
}

.underline {
    width: 100%;
    height: 1px;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    border-radius: 20px;
}

.nav-btn .underline {
  height: 2px;
}

.display-none {
    display: none;
}

.nav-btn:hover .underline {
    animation: showUnderline 0.6s ease-in-out;
}

.show-underline {
  animation: showUnderline 0.6s ease-in-out;
}

@keyframes showUnderline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.exit-underline {
    animation: exitUnderline 0.4s ease-in-out;
}

@keyframes exitUnderline {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

/* header style onscroll */
.moved {
    height: 10vh !important;
    background-color: var(--theme) !important;
}

#header.moved .nav-btn {
    font-size: 17px;
}

#header.moved #header-logo {
  width: 7%;
}

.products-dropdown {
  position: absolute;
  cursor: auto;
  top: 100%;
  display: none;
  opacity: 0;
  height: 35vh;
  width: 24.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: width 0.3s, height 0.3s;
  display: none;
}

#header.moved .products-dropdown {
  width: 22vw;
  height: 32vh;
}

.show-products{
  opacity: 1;
  display: flex;
}

.hide-products {
  opacity: 0;
  display: none;
  animation: fadeOut 0.2s;
}

.list-container {
  width: 100%;
  height: 100%;
  background: #dc8501;
  background: #dc8401c0;
  backdrop-filter: blur(10px);
  border-radius: 20px; 
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  display: none;
}

.products-list {
  list-style-type: none;
  width: 33%;
  color: #fffafa;
  position: relative;
}

.products-list a {
  color: #fffafa;
}

.products-list li {
  padding: 5px;
}

.products-list hr {
  width: 80%;
  margin: auto;
  color: #fffafa;
}

.dropdown-box {
  width: 100%;
  height: 0;
  background-color: #dc8501;
  border: 1px solid transparent;
  border-radius: 20px;
  z-index: 10;
  position: absolute;
  top: 0;
  margin-top: 5px;
}

.dropdown {
  animation: dropDown 1s linear;
}

.display-inline {
  display: inline;
}

.display-flex {
  display: flex;
}

@keyframes dropDown {
  0% {
    height: 0;
    top: 0;
  }
  50% {
    height: 100%;
    top: 0;
  }
  100% {
    height: 0;
    top: 99%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}


/* main section */
#main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#intro-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.5;
  object-fit: cover;
}

#main-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-right: 250px;
  gap: 20px;
}

#display-text, #body-text {
  width: 45%;
  height: 30%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#display-text .rightline {
  top: 0;
  border: 2px solid var(--orange);
  border-radius: 20px;
  height: 100%;
}

.text-box {
  width: 0;
  height: 100%;
  background-color: #dc8501;
  z-index: 10;
  position: absolute;
  right: 0;
  border-radius: 5px;
}

.swipe-in-out-right {
  animation: swipe-in-out-right 1.5s ease-in-out;
  animation-delay: 0.65s;
}

@keyframes swipe-in-out-right {
  0% {
    width: 0;
    right: 0;
  }

  50% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0%;
    right: 100%;
  }
}

#main-text {
  direction: rtl;
  font-size: 70px;
  opacity: 0;
  padding-right: 20px;
}

#body-text {
  height: 10%;
  position: relative;
}

#body-text p {
  direction: rtl;
  font-size: 23px;
  opacity: 0;
  padding-right: 20px;
}

#body-text .text-box {
  background-color: var(--blue);
}

#body-text .rightline {
  top: 0;
  border: 2px solid var(--blue);
  border-radius: 20px;
  height: 100%;
}

#down-anime-btn {
  position: absolute;
  bottom: 10px;
  outline: none;
  background-color: transparent;
  padding: 15px 16px 15px 16px;
  border: 1px solid var(--blue);
  border-radius: 100%;
  font-family: 'Vazirmatn', sans-serif;
  font-size: 20px;
}

#about {
  width: 100%;
  height: auto;
  background-color: #106ea5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#about-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 50px;
}

.section-title {
  font-size: 30px;
  color: #fffafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  direction: rtl;
}

.section-title p {
  font-size: 17px;
}

.section-title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title .underline {
  height: 3px;
}

.topline {
  width: 0;
  height: 1px;
  background-color: var(--orange);
  position: absolute;
  top: 0;
}

.rightline {
  height: 0;
  width: 1px;
  background-color: var(--orange);
  position: absolute;
  right: 0;
}

.leftline {
  height: 0;
  width: 1px;
  background-color: var(--orange);
  position: absolute;
  left: 0;
}

.show-topline {
  animation: showTopline 0.6s ease-in-out;
}

.show-leftline {
  animation: showLeftline 0.6s ease-in-out;
}

.show-rightline {
  animation: showRightline 0.6s ease-in-out;
}

.exit-topline {
    animation: exitTopline 0.6s ease-in-out;
}

.exit-rightline {
  animation: exitRightline 0.6s ease-in-out;
}

.exit-leftline {
  animation: exitLeftline 0.6s ease-in-out;
}

@keyframes showTopline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes exitTopline {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@keyframes showRightline {
  from {
      height: 0;
  }
  to {
      height: 100%;
  }
}

@keyframes exitRightline {
  from {
      height: 100%;
  }

  to {
      height: 0;
  }
}


@keyframes showLeftline {
  from {
      height: 0;
  }
  to {
      height: 100%;
  }
}

@keyframes exitLeftline {
  from {
      height: 100%;
  }

  to {
      height: 0;
  }
}

.width-100 {
  width: 100%;
}

.height-100{
  height: 100%;
}

#about-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 80%;
  padding: 20px 150px;
}

.about-info {
  direction: rtl;
  color: #fffafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.about-title {
  font-size: 40px;
}

.about-info .leftline, .about-info .rightline {
  width: 2px;
  background-color: transparent;
  border: 2px solid var(--orange);
  border-radius: 20px;
}

.about-info .topline, .about-info .underline {
  height: 2px;
  background-color: transparent;
  border: 2px solid var(--orange);
  border-radius: 20px;
}

#banks-section {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banks-swiper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.bank-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bank-slide img {
  width: 100%;
  height: auto;
}

#service {
  width: 100%;
  height: auto;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#service-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 50px;
}

#service-content .section-title p {
  font-size: 28px;
}

#service-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.service-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fffafa;
  direction: rtl;
}

.service-title {
  font-size: 50px;
  position: relative;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-title .rightline, .service-title .leftline {
  border: 2px solid var(--orange);
  border-radius: 5px;
  top: 0;
}

.service-info p {
  width: 50%;
}

.row-reverse {
  flex-direction: row-reverse;
}

#companies {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#companies-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
}

#companies-content .section-title h1 {
  color: #333;
  font-size: 40px;
}

#companies-body {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.companies-row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
}

.company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  height: 50%;
}

.company a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

.company:hover img {
  transform: scale(1.1);
}

.wave-bg {
  width: 100%;
  height: auto;
}

.wave-bg img {
  width: 100%;
  height: auto;
}

#footer {
  width: 100%;
  height: auto;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 200px;
  color: #fffafa;
}

#footer-content hr {
  width: 100%;
  margin: auto;
  color: var(--orange);
}

#footer-content > h1 {
  font-size: 40px;
}

#footer-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}

#footer-lists {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  flex-direction: row-reverse;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  direction: rtl;
  width: 50%;
}

.footer-description {
  gap: 30px;
  
}

.footer-list p {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.footer-list p i {
  border: none;
  color: crimson;
  font-size: 20px;
}

.footer-list a {
  text-decoration: none;
  color: #fffafa;
  background-color: transparent;
}

.footer-list h3 {
  font-size: 25px;
}

.footer-list ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  margin-right: 20px;
}

.footer-list ul a {
  transition: color 0.2s;
}

.footer-list ul a:hover {
  color: var(--orange);
}

#social-btns-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-btns {
  outline: none;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #fffafa;
  background-color: var(--orange);
  font-size: 20px;
  padding-top: 5px;
  cursor: pointer;
}
